<br>
<a href="#" class="btn btn-defult btn-lg btn-block" role="button">Help</a>
<br>

<a href="#profile" class="btn btn-defult btn-lg btn-block" role="button">Profile</a>
<br>
<a href="#" type="button" class="btn btn-defult btn-lg btn-block">Account</a>
<br>
<a href="#" type="button" class="btn btn-defult btn-lg btn-block">Chat Settings</a>
<br>
<a href="#" type="button" class="btn btn-defult btn-lg btn-block">Notifications</a>
<br>
<a href="#" type="button" class="btn btn-defult btn-lg btn-block">Contacts</a>